::ng-deep .tooltip.wide-tooltip .tooltip-inner {
    max-width: 1000px; 
    white-space: normal;
    word-wrap: break-word;
  }


.buyer-link {
    color: #4a9af0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.buyer-link:hover {
    color: #007bff; 
}