<body class="fixed-sn white-skin">

    <!-- Main Navigation -->
    <header>

        <!-- Sidebar navigation -->
        <app-header></app-header>

        <!-- Navbar -->
        <app-navbar></app-navbar>

        <!-- /.Navbar -->

    </header>
    <!-- Main Navigation -->

    <!-- Main layout -->
    <main>
        <div class="container-fluid px-4 mb-2">
            <div class="card">
                <h5 class="card-header info-tab white-text pl-4" style="font-weight: 500;">Item Master List
                    <button type="button" class="btn btn-white heavy-rain-gradient btn-sm  waves-light waves-effect float-right my-0" data-toggle="modal" data-target="#add_property_book_modal"><i class="fa fa-plus" aria-hidden="true"></i> Add New Item Master</button>
                </h5>
                <div class="card-body">
                    <div class="row px-2">
                        <div class="col-md-3 px-4">
                            <div class="md-form md-outline margin-mdform">
                                <input type="text" id="payer_name" class="form-control" required="">
                                <label for="payer_name" class="">Item Code</label>
                            </div>
                        </div>
                        <div class="col-md-3 px-4">
                            <div class=" md-form md-outline">
                                <input type="text" id="form-autocomplete" class="form-control">
                                <label for="form-autocomplete" class="">Item Master</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row float-right mr-3">
                        <button type="button" class="btn dusty-grass-gradient btn-sm  waves-light waves-effect"><i class="fa fa-search mr-2" aria-hidden="true"></i>Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid my-4 px-4">
            <section>
                <div class="card">
                    <div class="table-responsive card-body">
                        <table id="dt-material-checkbox" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Item Id
                                    </th>
                                    <th>Item Name
                                    </th>
                                    <th>Group Name
                                    </th>
                                    <th>Sub Group Name
                                    </th>
                                    <th>Unit
                                    </th>
                                    <th>Basic Rate
                                    </th>
                                    <th>HSN Code
                                    </th>
                                    <th>Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>1</td>
                                    <td>P Name</td>
                                    <td>G1</td>
                                    <td>SG1</td>
                                    <td>25kg</td>
                                    <td>25,000</td>
                                    <td>1</td>
                                    <td>
                                        <a class="black-text" mdbtooltip="View" placement="top" data-toggle="modal" data-target="#view_property_book_modal"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a class="teal-text" mdbtooltip="Edit" placement="top" data-toggle="modal" data-target="#edit_book_modal"><i class="fa-pencil-alt px-1 fas"></i></a>
                                        <a class="red-text" mdbtooltip="Remove" placement="top"><i class="fa-times px-1 fas"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>2</td>
                                    <td>P Name</td>
                                    <td>G1</td>
                                    <td>SG1</td>
                                    <td>25kg</td>
                                    <td>25,000</td>
                                    <td>2</td>
                                    <td>
                                        <a class="black-text" mdbtooltip="View" placement="top" data-toggle="modal" data-target="#view_property_book_modal"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a class="teal-text" mdbtooltip="Edit" placement="top" data-toggle="modal" data-target="#edit_book_modal"><i class="fa-pencil-alt px-1 fas"></i></a>
                                        <a class="red-text" mdbtooltip="Remove" placement="top"><i class="fa-times px-1 fas"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>3</td>
                                    <td>P Name</td>
                                    <td>G1</td>
                                    <td>SG1</td>
                                    <td>25kg</td>
                                    <td>25,000</td>
                                    <td>3</td>
                                    <td>
                                        <a class="black-text" mdbtooltip="View" placement="top" data-toggle="modal" data-target="#view_property_book_modal"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a class="teal-text" mdbtooltip="Edit" placement="top" data-toggle="modal" data-target="#edit_book_modal"><i class="fa-pencil-alt px-1 fas"></i></a>
                                        <a class="red-text" mdbtooltip="Remove" placement="top"><i class="fa-times px-1 fas"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>4</td>
                                    <td>P Name</td>
                                    <td>G1</td>
                                    <td>SG1</td>
                                    <td>25kg</td>
                                    <td>25,000</td>
                                    <td>4</td>
                                    <td>
                                        <a class="black-text" mdbtooltip="View" placement="top" data-toggle="modal" data-target="#view_property_book_modal"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a class="teal-text" mdbtooltip="Edit" placement="top" data-toggle="modal" data-target="#edit_book_modal"><i class="fa-pencil-alt px-1 fas"></i></a>
                                        <a class="red-text" mdbtooltip="Remove" placement="top"><i class="fa-times px-1 fas"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <!-- Add New property sale modal -->
            <div class="modal fade" id="add_property_book_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
                    <!-- Content -->
                    <div class="modal-content">
                        <!-- Header -->
                        <div class="modal-header mdb-color">
                            <p class="heading lead font-weight-bold">Add New Item Master</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>

                        <!-- Body -->
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="col-lg-4 col-md-12 px-2">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="item-id" class="form-control">
                                        <label for="item-id" class="">Item Id</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 px-2">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="item-name" class="form-control">
                                        <label for="item-name" class="">Item Name</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 px-2">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="ishort-name" class="form-control">
                                        <label for="ishort-name" class="">Item Short Name</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 px-2">
                                    <div class="md-form md-outline">
                                        <textarea type="text" id="item-desp" class="md-textarea form-control" rows="2" required=""></textarea>
                                        <label for="item-desp">Item Description</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 px-2 md-form md-outline">
                                    <select class="form-control field-ht colorful-select">
                                        <option value="" selected="true" disabled="disabled">Select Group Name</option>
                                        <option value="default" >Capital Item</option>
                                        <option value="2">Civil Construction</option>
                                        <option value="3">Consumable</option>
                                        <option value="3">Computer H/w & Net.</option>
                                        <option value="3">Electicals</option>
                                        <option value="3">Electronics device</option>
                                        <option value="3">Direct mateials</option>
                                    </select>
                                    <label class="ml-2 active">Group Name</label>
                                </div>
                                <div class="col-lg-6 col-md-12 px-2 md-form md-outline">
                                    <select class="form-control field-ht colorful-select">
                                        <option value="" selected="true" disabled="disabled">Select Sub Group Name</option>
                                        <option value="default" >Kg</option>
                                        <option value="2">Dozan</option>
                                        <option value="3">Mole</option>
                                    </select>
                                    <label class="ml-2 active">Sub Group Name</label>
                                </div>
                                <div class="col-lg-6 col-md-12 px-2 md-form md-outline">
                                    <select class="form-control field-ht colorful-select">
                                        <option value="" selected="true" disabled="disabled">Select Unit</option>
                                        <option value="default" >Sqrft</option>
                                        <option value="2">Dozan</option>
                                        <option value="3">Mole</option>
                                        <option value="4">Kg</option>
                                        <option value="5">Acres</option>
                                    </select>
                                    <label class="ml-2 active">Basic Unit</label>
                                </div>
                                <div class="col-lg-6 col-md-12 px-2 md-form md-outline">
                                    <select class="form-control field-ht colorful-select">
                                        <option value="" selected="true" disabled="disabled">Select Unit</option>
                                        <option value="default" >Sqrft</option>
                                        <option value="2">Dozan</option>
                                        <option value="3">Mole</option>
                                        <option value="4">Kg</option>
                                        <option value="5">Acres</option>
                                    </select>
                                    <label class="ml-2 active">Alternate Unit</label>
                                </div>
                                <div class="col-lg-6 col-md-12 px-2">
                                    <div class="md-form md-outline input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Rs</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Basic Rate" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 px-2">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="new-hsn-code" class="form-control">
                                        <label for="new-hsn-code" class="">HSN Code</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 px-2">
                                    <div class="md-form md-outline">
                                        <textarea type="text" id="new-remark" class="md-textarea form-control" rows="2" required=""></textarea>
                                        <label for="new-remark">Remarks</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="modal-footer">
                            <a type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</a>
                            <a type="button" class="btn btn-sm btn-outline-success waves-effect">Save</a>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
            <!-- View property sale modal -->
            <div class="modal fade" id="view_property_book_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
                    <!-- Content -->
                    <div class="modal-content">
                        <!-- Header -->
                        <div class="modal-header mdb-color">
                            <p class="heading lead font-weight-bold">View Item Master</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>

                        <!-- Body -->
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="col-lg-4 col-md-12 px-2">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="item-id" class="form-control" disabled>
                                        <label for="item-id" class="">Item Id</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 px-2">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="item-name" class="form-control" disabled>
                                        <label for="item-name" class="">Item Name</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 px-2">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="ishort-name" class="form-control" disabled>
                                        <label for="ishort-name" class="">Item Short Name</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 px-2">
                                    <div class="md-form md-outline">
                                        <textarea type="text" id="item-desp" class="md-textarea form-control" rows="2" required="" disabled></textarea>
                                        <label for="item-desp">Item Description</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 px-2 md-form md-outline">
                                    <select class="form-control field-ht colorful-select" disabled>
                                        <option value="" selected="true" disabled="disabled">Select Group Name</option>
                                        <option value="default" >Capital Item</option>
                                        <option value="2">Civil Construction</option>
                                        <option value="3">Consumable</option>
                                        <option value="3">Computer H/w & Net.</option>
                                        <option value="3">Electicals</option>
                                        <option value="3">Electronics device</option>
                                        <option value="3">Direct mateials</option>
                                    </select>
                                    <label class="ml-2 active">Group Name</label>
                                </div>
                                <div class="col-lg-6 col-md-12 px-2 md-form md-outline">
                                    <select class="form-control field-ht colorful-select" disabled>
                                        <option value="" selected="true" disabled="disabled">Select Sub Group Name</option>
                                        <option value="default" >Kg</option>
                                        <option value="2">Dozan</option>
                                        <option value="3">Mole</option>
                                    </select>
                                    <label class="ml-2 active">Sub Group Name</label>
                                </div>
                                <div class="col-lg-6 col-md-12 px-2 md-form md-outline">
                                    <select class="form-control field-ht colorful-select" disabled>
                                        <option value="" selected="true" disabled="disabled">Select Unit</option>
                                        <option value="default" >Sqrft</option>
                                        <option value="2">Dozan</option>
                                        <option value="3">Mole</option>
                                        <option value="4">Kg</option>
                                        <option value="5">Acres</option>
                                    </select>
                                    <label class="ml-2 active">Basic Unit</label>
                                </div>
                                <div class="col-lg-6 col-md-12 px-2 md-form md-outline">
                                    <select class="form-control field-ht colorful-select" disabled>
                                        <option value="" selected="true" disabled="disabled">Select Unit</option>
                                        <option value="default" >Sqrft</option>
                                        <option value="2">Dozan</option>
                                        <option value="3">Mole</option>
                                        <option value="4">Kg</option>
                                        <option value="5">Acres</option>
                                    </select>
                                    <label class="ml-2 active">Alternate Unit</label>
                                </div>
                                <div class="col-lg-6 col-md-12 px-2">
                                    <div class="md-form md-outline input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Rs</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Basic Rate" aria-label="Username" aria-describedby="basic-addon1" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 px-2">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="view-hsn-code" class="form-control" disabled>
                                        <label for="view-hsn-code" class="">HSN Code</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 px-2">
                                    <div class="md-form md-outline">
                                        <textarea type="text" id="view-remark" class="md-textarea form-control" rows="2" required="" disabled></textarea>
                                        <label for="view-remark">Remarks</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="modal-footer">
                            <a type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</a>
                            <a type="button" class="btn btn-sm btn-outline-success waves-effect">Save</a>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
            <!-- Edit property sale modal -->
            <div class="modal fade" id="edit_book_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
                    <!-- Content -->
                    <div class="modal-content">
                        <!-- Header -->
                        <div class="modal-header mdb-color">
                            <p class="heading lead font-weight-bold">Edit Item Master</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>

                        <!-- Body -->
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="col-lg-4 col-md-12 px-2">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="item-id" class="form-control">
                                        <label for="item-id" class="">Item Id</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 px-2">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="item-name" class="form-control">
                                        <label for="item-name" class="">Item Name</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 px-2">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="ishort-name" class="form-control">
                                        <label for="ishort-name" class="">Item Short Name</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 px-2">
                                    <div class="md-form md-outline">
                                        <textarea type="text" id="item-desp" class="md-textarea form-control" rows="2" required=""></textarea>
                                        <label for="item-desp">Item Description</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 px-2 md-form md-outline">
                                    <select class="form-control field-ht colorful-select">
                                        <option value="" selected="true" disabled="disabled">Select Group Name</option>
                                        <option value="default" >Capital Item</option>
                                        <option value="2">Civil Construction</option>
                                        <option value="3">Consumable</option>
                                        <option value="3">Computer H/w & Net.</option>
                                        <option value="3">Electicals</option>
                                        <option value="3">Electronics device</option>
                                        <option value="3">Direct mateials</option>
                                    </select>
                                    <label class="ml-2 active">Group Name</label>
                                </div>
                                <div class="col-lg-6 col-md-12 px-2 md-form md-outline">
                                    <select class="form-control field-ht colorful-select">
                                        <option value="" selected="true" disabled="disabled">Select Sub Group Name</option>
                                        <option value="default" >Kg</option>
                                        <option value="2">Dozan</option>
                                        <option value="3">Mole</option>
                                    </select>
                                    <label class="ml-2 active">Sub Group Name</label>
                                </div>
                                <div class="col-lg-6 col-md-12 px-2 md-form md-outline">
                                    <select class="form-control field-ht colorful-select">
                                        <option value="" selected="true" disabled="disabled">Select Unit</option>
                                        <option value="default" >Sqrft</option>
                                        <option value="2">Dozan</option>
                                        <option value="3">Mole</option>
                                        <option value="4">Kg</option>
                                        <option value="5">Acres</option>
                                    </select>
                                    <label class="ml-2 active">Basic Unit</label>
                                </div>
                                <div class="col-lg-6 col-md-12 px-2 md-form md-outline">
                                    <select class="form-control field-ht colorful-select">
                                        <option value="" selected="true" disabled="disabled">Select Unit</option>
                                        <option value="default" >Sqrft</option>
                                        <option value="2">Dozan</option>
                                        <option value="3">Mole</option>
                                        <option value="4">Kg</option>
                                        <option value="5">Acres</option>
                                    </select>
                                    <label class="ml-2 active">Alternate Unit</label>
                                </div>
                                <div class="col-lg-6 col-md-12 px-2">
                                    <div class="md-form md-outline input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Rs</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Basic Rate" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 px-2">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="edit-hsn-code" class="form-control">
                                        <label for="edit-hsn-code" class="">HSN Code</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 px-2">
                                    <div class="md-form md-outline">
                                        <textarea type="text" id="edit-remark" class="md-textarea form-control" rows="2" required=""></textarea>
                                        <label for="edit-remark">Remarks</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="modal-footer">
                            <a type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</a>
                            <a type="button" class="btn btn-sm btn-outline-success waves-effect">Save</a>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
        </div>

    </main>
    <!-- Main layout -->
</body>