<body class="fixed-sn white-skin">

    <!-- Main Navigation -->
    <header>

        <!-- Sidebar navigation -->
        <app-header></app-header>

        <!-- Navbar -->
        <app-navbar></app-navbar>

        <!-- /.Navbar -->

    </header>
    <!-- Main Navigation -->

    <!-- Main layout -->
    <main>
        <form>
            <div class="container-fluid px-4 mb-2">
                <!-- Main docs tabs -->
                <div class="main-tabs-docs">
                    <app-product-link></app-product-link>
                </div>
            </div>
        </form>

    </main>
</body>