<body class="fixed-sn white-skin">

    <!-- Main Navigation -->
    <header>

        <!-- Sidebar navigation -->
        <app-header></app-header>

        <!-- Navbar -->
        <app-navbar></app-navbar>

        <!-- /.Navbar -->

    </header>
    <!-- Main Navigation -->

    <!-- Main layout -->
    <main>
        <div class="container-fluid px-4 mb-2">
            <div class="card">
                <h5 class="card-header info-tab white-text pl-4 py-2" style="font-weight: 500;">Office Expense List
                    <button type="button" class="btn btn-white heavy-rain-gradient btn-sm  waves-light waves-effect float-right my-0" data-toggle="modal" data-target="#add_office_modal"><i class="fa fa-plus" aria-hidden="true"></i> Add New Office Expense</button>
                </h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-3 px-4">
                            <div class=" md-form md-outline">
                                <input type="text" id="form-employeename" class="form-control">
                                <label for="form-employeename" class="">Employee Name</label>
                            </div>
                        </div>
                        <div class="col-md-3 px-4">
                            <div class="md-form md-outline pr-4">
                                <input class="form-control" placeholder="Select date" name="td" ngbDatepicker #td="ngbDatepicker" (click)="td.toggle()" readonly>
                                <label for="date-picker-example" class="active">Date</label>
                            </div>
                        </div>
                        <div class="col-md-3 px-4">
                            <div class="md-form md-outline input-group margin-mdform">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Rs</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Expense Amount" aria-label="Expense Amount" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="form-row float-right mr-3">
                        <button type="button" class="btn dusty-grass-gradient btn-sm  waves-light waves-effect"><i class="fa fa-search mr-2" aria-hidden="true"></i>Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid px-4 my-4">
            <section>
                <div class="card">
                    <div class="table-responsive card-body">
                        <table id="dt-material-checkbox" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>S.No.
                                    </th>
                                    <th>Date
                                    </th>
                                    <th>Employee Name
                                    </th>
                                    <th>Expense Amount
                                    </th>
                                    <th>Expense Receipt
                                    </th>
                                    <th>Description
                                    </th>
                                    <th>Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>1</td>
                                    <td>25/06/2015</td>
                                    <td>Fance</td>
                                    <td>Rs 50,000</td>
                                    <td>Image</td>
                                    <td>Notes detail</td>
                                    <td>
                                        <a class="black-text" mdbtooltip="View" placement="top" data-toggle="modal" data-target="#view_office_modal"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a class="teal-text" mdbtooltip="Edit" placement="top" data-toggle="modal" data-target="#edit_office_modal"><i class="fa-pencil-alt px-1 fas"></i></a>
                                        <a class="red-text" mdbtooltip="Remove" placement="top"><i class="fa-times px-1 fas"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>2</td>
                                    <td>25/06/2015</td>
                                    <td>Fance</td>
                                    <td>Rs 50,000</td>
                                    <td>Image</td>
                                    <td>Notes detail</td>
                                    <td>
                                        <a class="black-text" mdbtooltip="View" placement="top" data-toggle="modal" data-target="#view_office_modal"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a class="teal-text" mdbtooltip="Edit" placement="top" data-toggle="modal" data-target="#edit_office_modal"><i class="fa-pencil-alt px-1 fas"></i></a>
                                        <a class="red-text" mdbtooltip="Remove" placement="top"><i class="fa-times px-1 fas"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>3</td>
                                    <td>25/06/2015</td>
                                    <td>Fance</td>
                                    <td>Rs 50,000</td>
                                    <td>Image</td>
                                    <td>Notes detail</td>
                                    <td>
                                        <a class="black-text" mdbtooltip="View" placement="top" data-toggle="modal" data-target="#view_office_modal"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a class="teal-text" mdbtooltip="Edit" placement="top" data-toggle="modal" data-target="#edit_office_modal"><i class="fa-pencil-alt px-1 fas"></i></a>
                                        <a class="red-text" mdbtooltip="Remove" placement="top"><i class="fa-times px-1 fas"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>4</td>
                                    <td>25/06/2015</td>
                                    <td>Fance</td>
                                    <td>Rs 50,000</td>
                                    <td>Image</td>
                                    <td>Notes detail</td>
                                    <td>
                                        <a class="black-text" mdbtooltip="View" placement="top" data-toggle="modal" data-target="#view_office_modal"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a class="teal-text" mdbtooltip="Edit" placement="top" data-toggle="modal" data-target="#edit_office_modal"><i class="fa-pencil-alt px-1 fas"></i></a>
                                        <a class="red-text" mdbtooltip="Remove" placement="top"><i class="fa-times px-1 fas"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <!-- Add New office modal -->
            <div class="modal fade" id="add_office_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
                    <!-- Content -->
                    <div class="modal-content">
                        <!-- Header -->
                        <div class="modal-header mdb-color">
                            <p class="heading lead font-weight-bold">Add New Office Expense</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>

                        <!-- Body -->
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form md-outline pr-4">
                                        <input class="form-control" placeholder="Select date" name="ntd" ngbDatepicker #ntd="ngbDatepicker" (click)="ntd.toggle()" readonly>
                                        <label for="date-picker-example" class="active">Purchase Date</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="md-form md-outline input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Rs</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Amount" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="form-employee" class="form-control">
                                        <label for="form-employee" class="">Select Employee</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="md-form md-outline">
                                        <div class="custom-file" style="margin-top: -8px;">
                                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form md-outline">
                                        <textarea type="text" id="form10" class="md-textarea form-control" rows="3" required=""></textarea>

                                        <label for="form10">Description</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-sm btn-outline-success waves-effect">Save</button>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
            <!-- VIew office modal -->
            <div class="modal fade" id="view_office_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
                    <!-- Content -->
                    <div class="modal-content">
                        <!-- Header -->
                        <div class="modal-header mdb-color">
                            <p class="heading lead font-weight-bold">View Office Expense</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>

                        <!-- Body -->
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form md-outline">
                                        <input placeholder="Select date" type="text" id="date-picker-example" class="form-control datepicker" value="1 April,2015" disabled>
                                        <label for="date-picker-example" class="active">Purshace date</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="md-form md-outline input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Rs</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Amount" aria-label="Username" aria-describedby="basic-addon1" value="1,00,000" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="form-employee" class="form-control" value="Guwahati" disabled>
                                        <label for="form-employee" class="active">Select Employee</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="md-form md-outline">
                                        <div class="custom-file" style="margin-top: -8px;">
                                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" disabled>
                                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form md-outline">
                                        <textarea type="text" id="form10" class="md-textarea form-control" rows="3" required="" disabled></textarea>
                                        <label for="form10">Description</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-sm btn-outline-success waves-effect">Save</button>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
            <!-- Edit office modal -->
            <div class="modal fade" id="edit_office_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
                    <!-- Content -->
                    <div class="modal-content">
                        <!-- Header -->
                        <div class="modal-header mdb-color">
                            <p class="heading lead font-weight-bold">Edit Office Expense</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>

                        <!-- Body -->
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form md-outline">
                                        <input placeholder="Select date" type="text" id="date-picker-example" class="form-control datepicker" value="1 April,2015">
                                        <label for="date-picker-example" class="active">Purshace date</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="md-form md-outline input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Rs</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Amount" aria-label="Username" aria-describedby="basic-addon1" value="1,00,000">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="form-employee" class="form-control" value="Guwahati">
                                        <label for="form-employee" class="active">Select Employee</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="md-form md-outline">
                                        <div class="custom-file" style="margin-top: -8px;">
                                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form md-outline">
                                        <textarea type="text" id="form10" class="md-textarea form-control" rows="3" required=""></textarea>
                                        <label for="form10">Description</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-sm btn-outline-success waves-effect">Save</button>
                        </div>
                        <!-- Content -->
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Main layout -->
</body>