<body class="fixed-sn white-skin">
    <!-- Main Navigation -->
    <header>

        <!-- Sidebar navigation -->
        <app-header></app-header>

        <!-- Navbar -->
        <app-navbar></app-navbar>

        <!-- /.Navbar -->

    </header>
    <!-- Main Navigation -->
    <main>
        <div class="container-fluid px-4 mb-4">
            <div class="card">
                <h5 class="card-header info-tab white-text pl-4 py-2" style="font-weight: 500;">
                    User Role List
                    <button type="button" #userrolemodal (click)="openuserrolemodal()" class="btn btn-white heavy-rain-gradient btn-sm  waves-light waves-effect float-right my-0" data-toggle="modal" data-target="#add_userRole_modal"><i class="fa fa-plus" aria-hidden="true"></i> Add New Role</button>
                </h5>
                <div class="card-body" [formGroup]="filterroleform">
                    <div class="form-row">
                        <div class="col-md-3 px-4">
                            <div class="md-form md-outline">
                                <input type="text" id="user_role" formControlName="user_role" class="form-control" required="">
                                <label for="user_role" class="">User Role</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row float-right mr-3">
                        <button type="button" (click)="searchuserrole()" class="btn dusty-grass-gradient btn-sm  waves-light waves-effect"><i class="fa fa-search mr-2" aria-hidden="true"></i>Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid px-4 mb-4">
            <section>

                <div class="card">
                    <div class="table-responsive card-body">
                        <table id="UserRoleTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>S No</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of data;let i=index">
                                    <td></td>
                                    <td>{{i+1}}</td>
                                    <td>{{item.Role}}</td>
                                    <td *ngIf="item.Status==0">Disable</td>
                                    <td *ngIf="item.Status==1">Enable</td>
                                    <td>
                                        <a class="black-text" (click)="view(item.RoleId)" mdbtooltip="View" placement="top" data-toggle="modal" data-target="#view_user_modal"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a class="teal-text" (click)="edit(item.RoleId)" mdbtooltip="Edit" placement="top" data-toggle="modal" data-target="#edit_user_modal"><i class="fa-pencil-alt px-1 fas"></i></a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </section>
            <!-- Bottom Table UI -->
            <!-- Add modal -->
            <div class="modal fade" id="add_userRole_modal" (click)="rolemodalbackdropbtn()" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
                    <!-- Content -->
                    <div class="modal-content">
                        <!-- Header -->
                        <div class="modal-header mdb-color">
                            <p class="heading lead font-weight-bold" id="modaltextheader">Add User Role</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>

                        <!-- Body -->
                        <div [formGroup]="addroleform" class="modal-body">
                            <div class="col-lg-12 col-md-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 px-2">
                                        <div class="md-form md-outline">
                                            <input type="hidden" formControlName="RoleId" id="RoleId">
                                            <input type="text" formControlName="userRole" id="userRole" class="form-control">
                                            <label for="userRole" class="Active">Role</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 px-2">
                                        <div class="md-form md-outline">
                                            <select formControlName="status" class="form-control field-ht colorful-select">
                                                <option value=" ">Select Status</option>
                                                <option value="1">Enable</option>
                                                <option value="0">Disable</option>
                                            </select>
                                            <label class="active">Status</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 px-2">
                                        <div class="md-form md-outline">
                                            <select formControlName="CompanyName" class="form-control field-ht colorful-select">
                                                <option value=" " >Select Company</option>
                                                <option *ngFor="let companyList of companyDataList" value={{companyList.CompanyId}}>
                                                    {{companyList.CompanyName}}
                                                </option>
                                            </select>
                                            <label class="active">Company</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="modal-footer mx-3">
                            <button type="button" #closebutton class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                            <button *ngIf="save_btn" type="button" (click)="AddRole()" [disabled]="isButtonDisabled" class="btn btn-sm btn-outline-success waves-effect">Save</button>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
            <!-- Central Modal Large Info -->
        </div>
    </main>
    <!-- Main layout -->
</body>
