<nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav sunny-morning-gradient">
    <button type="button" style="display: none;" #openmodal data-toggle="modal" data-target="#exampleModal"></button>
    <!-- Breadcrumb -->
    <div class="nav navbar-nav nav-flex-icons ml-4" (click)="toggleClick()">
        <a data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>
    </div>
    <!-- Navbar links -->
    <ul class="nav navbar-nav nav-flex-icons ml-auto">

        <!-- Dropdown -->
        <li class="nav-item dropdown notifications-nav">

            <a class="nav-link dropdown-toggle waves-effect"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">

                <span class="badge red">{{ totalNotificationCount }}</span>

                <i class="fas fa-bell"></i>

                <span class="d-none d-md-inline-block">
                    Notifications
                </span>

            </a>

            <div class="dropdown-menu dropdown-primary"
                aria-labelledby="navbarDropdownMenuLink">

                <!-- Missed Followups -->
                <a class="dropdown-item"
                    (click)="goToTaskManagement()"
                    style="cursor: pointer;">

                    <i class="fas fa-bell mr-2 text-danger"
                        aria-hidden="true"></i>

                    <span>
                        You have {{ followupCount }} missed followups
                    </span>

                    <!-- <span class="float-right black-text">
                        View
                    </span> -->

                </a>

                <!-- Qty Not Received -->
                <a class="dropdown-item"
                    style="cursor: pointer;" (click)="goToRentGatePass()">

                    <i class="fas fa-box-open mr-2 text-warning"
                        aria-hidden="true"></i>

                    <span>
                        {{ qtyNotRecievedCount }} rented gate pass quantities not received
                    </span>

                </a>

                <!-- Incomplete Machine Reading -->
                <a class="dropdown-item"
                    style="cursor: pointer;" (click)="goToIncompleteMachineReading()">

                    <i class="fas fa-tools mr-2 text-info"
                        aria-hidden="true"></i>

                    <span>
                        {{ incompleteReadingCount }} incomplete machine readings
                    </span>

                </a>

            </div>

        </li>
        

        <li class="nav-item">
            <a class="nav-link waves-effect"><i class="far fa-comments"></i> <span
                    class="clearfix d-none d-sm-inline-block">Support</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block">{{profile}}</span></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" (click)="Logout()">Log Out</a>
                <a class="dropdown-item" href="#">My account</a>
                <a class="dropdown-item" (click)="openresetmodal()">Reset Password</a>
            </div>
        </li>
    </ul>

    <!-- /Navbar links -->
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info " role="document ">
        <!-- Content -->
        <div class="modal-content ">
            <!-- Header -->
            <div class="modal-header mdb-color ">
                <p class="heading lead font-weight-bold" id="modaltextheader">Reset Your Password</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body" [formGroup]="addNewPassword">
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form md-outline">
                            <input type="password" formControlName="password" id="reset_pwd" class="form-control"
                                required=""
                                [ngClass]="{ 'is-invalid': (submitted && addNewPassword.controls['password'].invalid ) || (addNewPassword.controls['password'].invalid && addNewPassword.controls['password'].touched)}">
                            <label for="reset_pwd" class="">New Password</label>
                            <div *ngIf=" (submitted && addNewPassword.controls['password'].invalid && addNewPassword.controls['password'].errors.required) || (addNewPassword.controls['password'].invalid && addNewPassword.controls['password'].touched && addNewPassword.controls['password'].errors.required)"
                                class="invalid-feedback">Password is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form md-outline">
                            <input type="password" id="confirm_reset_pwd" formControlName="cpassword"
                                class="form-control" required=""
                                [ngClass]="{ 'is-invalid': (submitted && addNewPassword.controls['cpassword'].invalid ) || (addNewPassword.controls['cpassword'].invalid && addNewPassword.controls['cpassword'].touched)}">
                            <label for="confirm_reset_pwd" class="">Confirm New Password</label>
                            <div *ngIf=" (submitted && addNewPassword.controls['cpassword'].invalid && addNewPassword.controls['cpassword'].errors.required) || (addNewPassword.controls['cpassword'].invalid && addNewPassword.controls['cpassword'].touched && addNewPassword.controls['cpassword'].errors.required)"
                                class="invalid-feedback">Password is required.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" #closebutton class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-sm btn-outline-success waves-effect"
                    (click)="resetpassword()">Reset Password</button>
            </div>
        </div>
    </div>
</div>