<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="col-md-12 text-center">
            <h5 class="font-weight-bold">|| श्री गणेशाय नमः ||</h5>
            <h5 class="font-weight-bold">|| ऊँ श्री गणेशाय नमः ||</h5>
        </div>
        <div class="col-md-12 p-2">
            <div class="row px-3">
                <div class="col-md-12 px-0">
                    <h6 class="font-weight-bold">विक्रेता -</h6>
                </div>
                <div class="col-md-6 pl-0">
                    <label class="col-md-2 px-0" for="">मन के मैं</label>
                    <input type="text"class="col-md-10" placeholder="" value='Aakash'>
                </div>
                <div class="col-md-3 pl-0">
                    <label class="col-md-2 px-0" for="">उम्र</label>
                    <input type="text"class="col-md-10" placeholder="">
                </div>
                <div class="col-md-3 pl-0">
                    <label class="col-md-3 px-0" for="">जाति</label>
                    <input type="text"class="col-md-9" placeholder="">
                </div>
                <div class="col-md-12 pl-0">
                    <label class="col-md-1 px-0" for="">पता </label>
                    <input type="text"class="col-md-11" placeholder="">
                </div>
                <div class="col-md-9 pl-0">
                    <label class="col-md-7 px-0" for="">जो कि मैं अपनी जमीन अपनी इकरारशुदा जमीन मौजा ग्राम </label>
                    <input type="text"class="col-md-5" placeholder="">
                </div>
                <div class="col-md-3 pl-0">
                    <label class="col-md-3 px-0" for="">प.ह.नं.</label>
                    <input type="text" class="col-md-9" placeholder="">
                </div>
                <div class="col-md-6 pl-0">
                    <label class="col-md-2 px-0" for="">तहसील </label>
                    <input type="text" class="col-md-10" placeholder="">
                </div>
                <div class="col-md-6 pl-0">
                    <label class="col-md-2 px-0" for="">जिला </label>
                    <input type="text" class="col-md-10" placeholder="">
                </div>
                <div class="col-md-6 pl-0">
                    <label class="col-md-2 px-0" for="">प्लाट नं.</label>
                    <input type="text" class="col-md-10" placeholder="">
                </div>
                <div class="col-md-6 pl-0">
                    <label class="col-md-2 px-0" for="">रकबा </label>
                    <input type="text" class="col-md-10" placeholder="">
                </div>
            </div>
        </div>
        <div class="col-md-12 p-2">
            <div class="row px-3">
                <div class="col-md-12 pl-0">
                    <h6 class="font-weight-bold">क्रेता -</h6>
                </div>
                <div class="col-md-9 pl-0">
                    <label class="col-md-2 px-0" for="">श्रीमती/श्री</label>
                    <input type="text"class="col-md-10" placeholder="">
                </div>
                <div class="col-md-3 pl-0">
                    <label class="col-md-3 px-0" for="">उम्र</label>
                    <input type="text"class="col-md-9" placeholder="">
                </div>
                <div class="col-md-9 pl-0">
                    <label class="col-md-2 px-0" for="">पति/आत्मज</label>
                    <input type="text"class="col-md-10" placeholder="">
                </div>
                <div class="col-md-3 pl-0">
                    <label class="col-md-3 px-0" for="">जाति </label>
                    <input type="text"class="col-md-9" placeholder="">
                </div>
                <div class="col-md-12 pl-0">
                    <label class="col-md-1 px-0" for="">निवासी </label>
                    <input type="text"class="col-md-11" placeholder="">
                </div>
                <div class="col-md-6 pl-0">
                    <label class="col-md-2 px-0" for="">तहसील </label>
                    <input type="text" class="col-md-10" placeholder="">
                </div>
                <div class="col-md-6 pl-0">
                    <label class="col-md-2 px-0" for="">जिला </label>
                    <input type="text" class="col-md-10" placeholder="">
                </div>
                <div class="col-md-12 pl-0">
                    <label  class="col-md-3 px-0" for="">का रहने वाला के पास प्रतिवर्गफीट</label>
                    <input type="text"class="col-md-9" placeholder="">
                </div>
                <div class="col-md-12 pl-0">
                    <label class="col-md-7 px-0" for="">रूपये की दर से बेचने का पक्का सौंदा बातचीत करके बतौर ब्याना के रूप में (अक्षरी) </label>
                    <input type="text"class="col-md-5" placeholder="">
                </div>
                <div class="col-md-12 pl-0">
                    <label class="col-md-1 px-0" for="">शब्दों में </label>
                    <input type="text"class="col-md-11" placeholder="">
                </div>
                <div class="col-md-12 pl-0">
                    <label for="">प्राप्त किया हूँ। बकाया रकम प्राप्त करके क्रेता के पक्ष में रजिस्ट्री करवा दूँगा। कर दूँगा। रजिस्ट्र करने का अंतिम समय </label>
                </div>
                <div class="col-md-12 pl-0">
                    <input type="text"class="col-md-7" placeholder="">
                    <label class="col-md-2 px-0" for="">तक हैं।</label>
                </div>
                <div class="col-md-12 pl-0">
                    <label for="">अतः इकरारनामा अपने पूर्ण होश हवास एवं स्वच्छ मन से किसी प्रकार से किसी के दबाव में आके नहीं किया हूँ, दो गवाहों के समक्ष इकरारनामा </label>
                </div>
                <div class="col-md-12 pl-0">
                    <label for="">कर दिया ताकि सनद रहे व वक्त जरूरत पर काम आवें।</label>
                </div>
                <div class="col-md-12 pl-0">
                    <label class="col-md-2 px-0" for="">फतेह तारिख</label>
                    <input type="text"class="col-md-4" placeholder="">
                </div>
            </div>
            
        </div>
        <div class="col-md-12 p-2">
            <div class="row px-4">
                <h6 class="font-weight-bold">नोट -</h6>
                <div class="col-md-12 pl-0">
                    <label for="">1. समय के साथ पहले अथवा रजिस्ट्री का दिन निर्धारित करके रजिस्ट्री खर्च जमा कर देवें।<br>
                        2. समय पर रजिस्ट्री नहीं कराने पर बयाना की राशि डूबत मानी जायेगी।<br>
                        3. यह इकरारनामा रजिस्ट्री के बाद कोई काम नहीं आवेगा।</label>
                </div>
                <div class="col-md-6 pl-0">
                    <label class="col-md-3 px-0" for="">रजिस्ट्री दिनांक</label>
                    <input type="text" class="col-md-9" placeholder="">
                </div>
                <div class="col-md-6 pl-0">
                    <label class="col-md-3 px-0" for="">दिन </label>
                    <input type="text" class="col-md-9" placeholder="">
                </div>
                <div class="col-md-6 pl-0">
                    <label class="col-md-3 px-0" for="">1. मोबाईल </label>
                    <input type="text" class="col-md-9" placeholder="">
                </div>
                <div class="col-md-6 pl-0">
                    <label class="col-md-3 px-0" for="">2. मोबाईल </label>
                    <input type="text" class="col-md-9" placeholder="">
                </div>
            </div>
        </div>
        
        <div class="col-md-12 p-2">
            <div class="row px-4">
                <h6 class="font-weight-bold">गवाह -</h6>
            </div>
            <div class="row px-3">
                <div class="col-md-7">
                    <label class="col-md-3 px-0" for="">1. श्री</label> <input type="text" class="col-md-9" placeholder=""><br>
                    <label class="col-md-3 " for="">आ./पति</label> <input type="text" class="col-md-9" placeholder=""><br>
                    <label class="col-md-3 " for="">पता </label><input type="text" class="col-md-9" placeholder="">
                </div>
                <div class="col-md-5 text-center">
                    <label class="col-md-5 px-0" for="">इकरारकर्ता के हस्ताक्षर</label><br> <br>
                    <input type="text" class="col-md-7" placeholder="">
                </div>
            </div>
            <div class="row px-3">
                <div class="col-md-7">
                    <label class="col-md-3 px-0" for="">2. श्री</label> <input type="text" class="col-md-9" placeholder=""><br>
                    <label class="col-md-3 " for="">आ./पति</label> <input type="text" class="col-md-9" placeholder=""><br>
                    <label class="col-md-3 " for="">पता</label><input type="text" class="col-md-9" placeholder="">
                </div>
                <div class="col-md-5 text-center">
                    <label class="col-md-6 px-0" for="">इकरारप्राप्तकर्ता के हस्ताक्षर</label><br> <br>
                    <input type="text" class="col-md-7" placeholder="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>