<body class="fixed-sn white-skin">

    <!-- Main Navigation -->
    <header>

        <!-- Sidebar navigation -->
        <app-header></app-header>

        <!-- Navbar -->
        <app-navbar></app-navbar>

        <!-- /.Navbar -->

    </header>
    <!-- Main Navigation -->

    <!-- Main layout -->
    <main>
        <div class="container-fluid px-4 mb-4">
            <div class="card">
                <h5 class="card-header info-tab white-text pl-4 py-2" style="font-weight: 500;">Billing List
                    <button type="button" class="btn btn-white heavy-rain-gradient btn-sm  waves-light waves-effect float-right my-0" data-toggle="modal" data-target="#add_bill_modal"><i class="fa fa-plus" aria-hidden="true"></i> </button>
                </h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-3 px-4">
                            <div class="md-form md-outline pr-4">
                                <input class="form-control" placeholder="Select date" name="td" ngbDatepicker #td="ngbDatepicker" (click)="td.toggle()" readonly>
                                <label for="td" class="active">Bill date</label>
                            </div>
                        </div>
                        <div class="col-md-3 px-4">
                            <div class=" md-form md-outline">
                                <input type="text" id="form-customer" class="form-control">
                                <label for="form-customer" class="">Customer Name</label>
                            </div>
                        </div>
                        <div class="col-md-3 md-form md-outline px-4">
                            <select class="form-control field-ht colorful-select">
                                <option value="" selected="true" disabled="disabled">Select Status</option>
                                <option value="default">Active</option>
                                <option value="2">In Active</option>
                            </select>
                            <label class="top-lb active">Status</label>
                        </div>
                    </div>
                    <div class="form-row float-right mr-3">
                        <button type="button" class="btn dusty-grass-gradient btn-sm waves-light waves-effect"><i class="fa fa-search mr-2" aria-hidden="true"></i>Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid px-4 mb-4">
            <section>
                <div class="card">
                    <div class="table-responsive card-body">
                        <table id="dt-material-checkbox" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>S.No.
                                    </th>
                                    <th>Bill Date
                                    </th>
                                    <th>Customer
                                    </th>
                                    <th>Total Billing Amount
                                    </th>
                                    <th>Paid
                                    </th>
                                    <th>Due
                                    </th>
                                    <th>Status (Paid/Due)
                                    </th>
                                    <th>Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>1</td>
                                    <td>25/06/2015</td>
                                    <td>C1</td>
                                    <td>Rs 1,00,000</td>
                                    <td>Rs 50,000</td>
                                    <td>Rs 50,000</td>
                                    <td>Due</td>
                                    <td>
                                        <a class="black-text" mdbtooltip="View" placement="top" data-toggle="modal" data-target="#view_bill_modal"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a class="teal-text" mdbtooltip="Edit" placement="top" data-toggle="modal" data-target="#edit_bill_modal"><i class="fa-pencil-alt px-1 fas"></i></a>
                                        <a class="red-text" mdbtooltip="Remove" placement="top"><i class="fa-times px-1 fas"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>2</td>
                                    <td>25/06/2015</td>
                                    <td>C3</td>
                                    <td>Rs 1,00,000</td>
                                    <td>Rs 50,000</td>
                                    <td>Rs 50,000</td>
                                    <td>Due</td>
                                    <td>
                                        <a class="black-text" mdbtooltip="View" placement="top" data-toggle="modal" data-target="#view_bill_modal"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a class="teal-text" mdbtooltip="Edit" placement="top" data-toggle="modal" data-target="#edit_bill_modal"><i class="fa-pencil-alt px-1 fas"></i></a>
                                        <a class="red-text" mdbtooltip="Remove" placement="top"><i class="fa-times px-1 fas"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>3</td>
                                    <td>25/06/2015</td>
                                    <td>C2</td>
                                    <td>Rs 1,00,000</td>
                                    <td>Rs 50,000</td>
                                    <td>Rs 50,000</td>
                                    <td>Due</td>
                                    <td>
                                        <a class="black-text" mdbtooltip="View" placement="top" data-toggle="modal" data-target="#view_bill_modal"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a class="teal-text" mdbtooltip="Edit" placement="top" data-toggle="modal" data-target="#edit_bill_modal"><i class="fa-pencil-alt px-1 fas"></i></a>
                                        <a class="red-text" mdbtooltip="Remove" placement="top"><i class="fa-times px-1 fas"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>4</td>
                                    <td>25/06/2015</td>
                                    <td>C2</td>
                                    <td>Rs 1,00,000</td>
                                    <td>Rs 50,000</td>
                                    <td>Rs 50,000</td>
                                    <td>Due</td>
                                    <td>
                                        <a class="black-text" mdbtooltip="View" placement="top" data-toggle="modal" data-target="#view_bill_modal"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a class="teal-text" mdbtooltip="Edit" placement="top" data-toggle="modal" data-target="#edit_bill_modal"><i class="fa-pencil-alt px-1 fas"></i></a>
                                        <a class="red-text" mdbtooltip="Remove" placement="top"><i class="fa-times px-1 fas"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <!-- Add New bill modal -->
            <div class="modal fade" id="add_bill_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
                    <!-- Content -->
                    <div class="modal-content">
                        <!-- Header -->
                        <div class="modal-header mdb-color">
                            <p class="heading lead font-weight-bold">Add New Bill</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>

                        <!-- Body -->
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form md-outline pr-4">
                                        <input class="form-control" placeholder="2015-05-16" name="ntd" [(ngModel)]="model_add" ngbDatepicker #ntd="ngbDatepicker" (click)="ntd.toggle()" readonly>
                                        <label for="ntd" class="active">Bill date</label>
                                    </div>
                                </div>
                                <div class="col md-form md-outline">
                                    <select class="form-control field-ht colorful-select">
                                        <option value="" selected="true" disabled="disabled">Select Customer</option>
                                        <option value="cust1">Customer1</option>
                                    </select>
                                    <label class="ml-2 active">Customer</label>
                                </div>
                            </div>
                            <div class=" form-row ">
                                <div class="col ">
                                    <div class="md-form md-outline input-group ">
                                        <div class="input-group-prepend ">
                                            <span class="input-group-text " id="basic-addon1 ">Rs</span>
                                        </div>
                                        <input type="text " class="form-control " placeholder="Total Billing Amount " aria-label="Username " aria-describedby="basic-addon1 ">
                                    </div>
                                </div>
                                <div class="col md-form md-outline">
                                    <select class="form-control field-ht colorful-select">
                                        <option value="" selected="true " disabled="disabled ">Select Payment Mode</option>
                                        <option value="default ">Cheque</option>
                                        <option value="2 ">Cash</option>
                                    </select>
                                    <label class="ml-2 active">Payment Mode</label>
                                </div>
                            </div>
                            <div class="form-row ">
                                <div class="col ">
                                    <div class="md-form md-outline input-group ">
                                        <div class="input-group-prepend ">
                                            <span class="input-group-text " id="basic-addon1 ">Rs</span>
                                        </div>
                                        <input type="text " class="form-control " placeholder="Amount Paid " aria-label="Username " aria-describedby="basic-addon1 ">
                                    </div>
                                </div>
                                <div class="col ">
                                    <div class="md-form md-outline input-group ">
                                        <div class="input-group-prepend ">
                                            <span class="input-group-text " id="basic-addon1 ">Rs</span>
                                        </div>
                                        <input type="text " class="form-control " placeholder="Amount Due " aria-label="Username " aria-describedby="basic-addon1 ">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Footer -->
                        <div class="modal-footer ">
                            <button type="button " class="btn btn-sm btn-danger " data-dismiss="modal">Cancel</button>
                            <button type="button " class="btn btn-sm btn-outline-success waves-effect ">Save</button>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
            <!-- View bill modal -->
            <div class="modal fade " id="view_bill_modal " tabindex="-1 " role="dialog " aria-labelledby="myModalLabel " aria-hidden="true ">
                <div class="modal-dialog modal-lg modal-notify modal-info " role="document ">
                    <!-- Content -->
                    <div class="modal-content ">
                        <!-- Header -->
                        <div class="modal-header mdb-color ">
                            <p class="heading lead font-weight-bold ">View Bill</p>
                            <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
                                <span aria-hidden="true " class="white-text ">&times;</span>
                            </button>
                        </div>

                        <!-- Body -->
                        <div class="modal-body ">
                            <div class="form-row ">
                                <div class="md-form md-outline pr-4">
                                    <input class="form-control" placeholder="Select date" name="ntd" [(ngModel)]="model_view" ngbDatepicker #ntd="ngbDatepicker" (click)="ntd.toggle()" disabled>
                                    <label for="ntd" class="active">Bill date</label>
                                </div>
                                <div class="col md-form md-outline">
                                    <select class="form-control field-ht colorful-select">
                                        <option value=" " selected="true " disabled="disabled ">Select Customer</option>
                                        <option value="cust1 " selected>Customer1</option>
                                    </select>
                                    <label class="ml-2 active">Customer</label>
                                </div>
                            </div>
                            <div class="form-row ">
                                <div class="col ">
                                    <div class="md-form md-outline input-group ">
                                        <div class="input-group-prepend ">
                                            <span class="input-group-text " id="basic-addon1 ">Rs</span>
                                        </div>
                                        <input type="text " class="form-control " placeholder="Total Billing Amount " aria-label="Username " aria-describedby="basic-addon1 " value="5,00,000 " disabled>
                                    </div>
                                </div>
                                <div class="col ">
                                    <select class="md-form form-control ">
                                        <option value=" " selected="true " disabled="disabled ">Select Payment Mode</option>
                                        <option value="default " selected="true ">Cheque</option>
                                        <option value="2 ">Cash</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row ">
                                <div class="col ">
                                    <div class="md-form md-outline input-group ">
                                        <div class="input-group-prepend ">
                                            <span class="input-group-text " id="basic-addon1 ">Rs</span>
                                        </div>
                                        <input type="text " class="form-control " placeholder="Amount Paid " aria-label="Username " aria-describedby="basic-addon1 " value="2,00,000 " disabled>
                                    </div>
                                </div>
                                <div class="col ">
                                    <div class="md-form md-outline input-group ">
                                        <div class="input-group-prepend ">
                                            <span class="input-group-text " id="basic-addon1 ">Rs</span>
                                        </div>
                                        <input type="text " class="form-control " placeholder="Amount Due " aria-label="Username " aria-describedby="basic-addon1 " value="2,00,000 " disabled>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Footer -->
                        <div class="modal-footer ">
                            <button type="button " class="btn btn-sm btn-danger " data-dismiss="modal ">Cancel</button>
                            <button type="button " class="btn btn-sm btn-outline-success waves-effect ">Save</button>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
            <!-- Edit bill modal -->
            <div class="modal fade " id="edit_bill_modal " tabindex="-1 " role="dialog " aria-labelledby="myModalLabel " aria-hidden="true ">
                <div class="modal-dialog modal-lg modal-notify modal-info " role="document ">
                    <!-- Content -->
                    <div class="modal-content ">
                        <!-- Header -->
                        <div class="modal-header mdb-color ">
                            <p class="heading lead font-weight-bold ">Edit Bill</p>
                            <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
                                <span aria-hidden="true " class="white-text ">&times;</span>
                            </button>
                        </div>

                        <!-- Body -->
                        <div class="modal-body ">
                            <div class="form-row ">
                                <div class="col ">
                                    <div class="md-form md-outline pr-4">
                                        <input class="form-control" placeholder="2019-12-15" name="ntd" [(ngModel)]="model_view" ngbDatepicker #ntd="ngbDatepicker" (click)="ntd.toggle()">
                                        <label for="date-picker-example " class="active ">Bill date</label>
                                    </div>
                                </div>
                                <div class="col ">
                                    <select class="md-form form-control ">
                                        <option value=" " selected="true " disabled="disabled ">Select Customer</option>
                                        <option value="cust1 ">Customer1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row ">
                                <div class="col ">
                                    <div class="md-form md-outline input-group ">
                                        <div class="input-group-prepend ">
                                            <span class="input-group-text " id="basic-addon1 ">Rs</span>
                                        </div>
                                        <input type="text " class="form-control " placeholder="Total Billing Amount " aria-label="Username " aria-describedby="basic-addon1 ">
                                    </div>
                                </div>
                                <div class="col md-form md-outline">
                                    <select class="form-control field-ht colorful-select">
                                        <option value=" " selected="true " disabled="disabled ">Select Payment Mode</option>
                                        <option value="default ">Cheque</option>
                                        <option value="2 ">Cash</option>
                                    </select>
                                    <label class="ml-2 active">Payment Mode</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="col ">
                                <div class="md-form md-outline input-group ">
                                    <div class="input-group-prepend ">
                                        <span class="input-group-text " id="basic-addon1 ">Rs</span>
                                    </div>
                                    <input type="text " class="form-control " placeholder="Amount Paid " aria-label="Username " aria-describedby="basic-addon1 ">
                                </div>
                            </div>
                            <div class="col ">
                                <div class="md-form md-outline input-group ">
                                    <div class="input-group-prepend ">
                                        <span class="input-group-text " id="basic-addon1 ">Rs</span>
                                    </div>
                                    <input type="text " class="form-control " placeholder="Amount Due " aria-label="Username " aria-describedby="basic-addon1 ">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Footer -->
                    <div class="modal-footer ">
                        <button type="button " class="btn btn-sm btn-danger " data-dismiss="modal ">Cancel</button>
                        <button type="button " class="btn btn-sm btn-outline-success waves-effect ">Save</button>
                    </div>
                </div>
                <!-- Content -->
            </div>
        </div>
    </main>
    <!-- Main layout -->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script>
        // SideNav Initialization
        $(".button-collapse ").sideNav();

        var container = document.querySelector('.custom-scrollbar');
        var ps = new PerfectScrollbar(container, {
            wheelSpeed: 2,
            wheelPropagation: true,
            minScrollbarLength: 20
        });
        $(document).ready(function() {
            $('.mdb-select').materialSelect();
        });
    </script>
    <script>
        $('#dt-material-checkbox, #dt-material-checkbox1').dataTable({

            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }],
            select: {
                style: 'os',
                selector: 'td:first-child'
            }
        });
        $('#dtMaterialDesignExample_wrapper, #dt-material-checkbox_wrapper').find('label').each(function() {
            $(this).parent().append($(this).children());
        });
        $('#dtMaterialDesignExample_wrapper .dataTables_filter, #dt-material-checkbox_wrapper .dataTables_filter').find(
            'input')(function() {

            $('input').removeClass('form-control-sm');
        });
        $('#dtMaterialDesignExample_wrapper .dataTables_length, #dt-material-checkbox_wrapper .dataTables_length').addClass(
            'd-flex flex-row');
        $('#dtMaterialDesignExample_wrapper .dataTables_filter, #dt-material-checkbox_wrapper .dataTables_filter').addClass(
            'md-form');
        $('#dtMaterialDesignExample_wrapper select, #dt-material-checkbox_wrapper select').removeClass(
            'custom-select custom-select-sm form-control form-control-sm');
        $('#dtMaterialDesignExample_wrapper select, #dt-material-checkbox_wrapper select').addClass('mdb-select');
        $('#dtMaterialDesignExample_wrapper .mdb-select, #dt-material-checkbox_wrapper .mdb-select').materialSelect();
        $('#dtMaterialDesignExample_wrapper .dataTables_filte, #dt-material-checkbox_wrapper .dataTables_filterr').find(
            'label').remove();
    </script>
</body>