<body class="fixed-sn white-skin">

    <!-- Main Navigation -->
    <header>

        <!-- Sidebar navigation -->
        <app-header></app-header>

        <!-- Navbar -->
        <app-navbar></app-navbar>

        <!-- /.Navbar -->

    </header>
    <!-- Main Navigation -->

    <!-- Main layout -->
    <main>
        <div class="container-fluid px-4 mb-4">
            <div class="card">
                <h5 class="card-header info-tab white-text pl-4 py-2" style="font-weight: 500;">Seller Info List
                    <button type="button" class="btn btn-white heavy-rain-gradient btn-sm  waves-light waves-effect float-right my-0" data-toggle="modal" data-target="#add_seller_info_modal"><i class="fa fa-plus" aria-hidden="true"></i> Add New Seller Info</button>
                </h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-3 select-outline px-4">
                            <div class=" md-form md-outline">
                                <input type="text" id="form-seller" class="form-control">
                                <label for="form-seller" class="active">Select Seller</label>
                            </div>
                        </div>
                        <div class="col-md-3 md-form md-outline px-4">
                            <select class="form-control field-ht colorful-select">
                                <option value="" selected="true" disabled="disabled">Select Building Material</option>
                                <option value="default">BM1</option>
                                <option value="2">BM2</option>
                            </select>
                            <label class="top-lb active">Building Material</label>
                        </div>
                        <div class="col-md-3 px-4">
                            <div class=" md-form md-outline">
                                <input type="text" id="seller_email_id" class="form-control" required="">
                                <label for="seller_email_id" class="">Email Id</label>
                            </div>
                        </div>
                        <div class="col-md-3 px-4">
                            <div class="md-form md-outline input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">+91</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Contact Number" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="form-row float-right mr-3">
                        <button type="button" class="btn dusty-grass-gradient btn-sm  waves-light waves-effect"><i class="fa fa-search mr-2" aria-hidden="true"></i>Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid px-4 mb-2">
            <section>
                <div class="card">
                    <div class="table-responsive card-body">
                        <table id="dt-material-checkbox" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>S.No.
                                    </th>
                                    <th>Seller
                                    </th>
                                    <th>Company
                                    </th>
                                    <th>Email Id
                                    </th>
                                    <th>Contact Number
                                    </th>
                                    <th>Address
                                    </th>
                                    <th>Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>1</td>
                                    <td>Fance</td>
                                    <td>Seo</td>
                                    <td>absd@gmail.com</td>
                                    <td>+918974561235</td>
                                    <td>address</td>
                                    <td>
                                        <a class="black-text" mdbtooltip="View" placement="top" data-toggle="modal" data-target="#view_seller_info_modal"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a class="teal-text" mdbtooltip="Edit" placement="top" data-toggle="modal" data-target="#edit_seller_info_modal"><i class="fa-pencil-alt px-1 fas"></i></a>
                                        <a class="red-text" mdbtooltip="Remove" placement="top"><i class="fa-times px-1 fas"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>2</td>
                                    <td>Fance</td>
                                    <td>Seo</td>
                                    <td>absd@gmail.com</td>
                                    <td>+918974561235</td>
                                    <td>address</td>
                                    <td>
                                        <a class="black-text" mdbtooltip="View" placement="top" data-toggle="modal" data-target="#view_seller_info_modal"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a class="teal-text" mdbtooltip="Edit" placement="top" data-toggle="modal" data-target="#edit_seller_info_modal"><i class="fa-pencil-alt px-1 fas"></i></a>
                                        <a class="red-text" mdbtooltip="Remove" placement="top"><i class="fa-times px-1 fas"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>3</td>
                                    <td>Fance</td>
                                    <td>Seo</td>
                                    <td>absd@gmail.com</td>
                                    <td>+918974561235</td>
                                    <td>address</td>
                                    <td>
                                        <a class="black-text" mdbtooltip="View" placement="top" data-toggle="modal" data-target="#view_seller_info_modal"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a class="teal-text" mdbtooltip="Edit" placement="top" data-toggle="modal" data-target="#edit_seller_info_modal"><i class="fa-pencil-alt px-1 fas"></i></a>
                                        <a class="red-text" mdbtooltip="Remove" placement="top"><i class="fa-times px-1 fas"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>4</td>
                                    <td>Fance</td>
                                    <td>Seo</td>
                                    <td>absd@gmail.com</td>
                                    <td>+918974561235</td>
                                    <td>address</td>
                                    <td>
                                        <a class="black-text" mdbtooltip="View" placement="top" data-toggle="modal" data-target="#view_seller_info_modal"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a class="teal-text" mdbtooltip="Edit" placement="top" data-toggle="modal" data-target="#edit_seller_info_modal"><i class="fa-pencil-alt px-1 fas"></i></a>
                                        <a class="red-text" mdbtooltip="Remove" placement="top"><i class="fa-times px-1 fas"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <!-- Add New user modal -->
            <div class="modal fade" id="add_seller_info_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
                    <!-- Content -->
                    <div class="modal-content">
                        <!-- Header -->
                        <div class="modal-header mdb-color">
                            <p class="heading lead font-weight-bold">Add New Seller Info</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>

                        <!-- Body -->
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form md-outline">
                                        <input type="text" id="seller_name" class="form-control" required="">
                                        <label for="seller_name" class="">Seller Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="company_name" class="form-control" required="">
                                        <label for="company_name" class="">Company Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="seller_email_id" class="form-control" required="">
                                        <label for="seller_email_id" class="">Email Id</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="md-form md-outline input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">+91</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Contact Number" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form md-outline">
                                        <textarea type="text" id="form10" class="md-textarea form-control" rows="2"></textarea>
                                        <label for="form10">Address</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="form-country" class="form-control">
                                        <label for="form-country" class="">Select Country</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="form-state" class="form-control">
                                        <label for="form-state" class="">Select State</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="form-city" class="form-control">
                                        <label for="form-city" class="">Select City</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="md-form md-outline">
                                        <input type="text" id="emp_postcode" class="form-control" required="">
                                        <label for="f2" class="">Postcode</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-sm btn-outline-success waves-effect">Save</button>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
            <!-- View user modal -->
            <div class="modal fade" id="view_seller_info_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
                    <!-- Content -->
                    <div class="modal-content">
                        <!-- Header -->
                        <div class="modal-header mdb-color">
                            <p class="heading lead font-weight-bold">View Seller Info</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>

                        <!-- Body -->
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form md-outline">
                                        <input type="text" id="seller_name" class="form-control" required="" value="Ritin Sinha" disabled>
                                        <label for="seller_name" class="active">Seller Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="company_name" class="form-control" required="" value="Software Tech" disabled>
                                        <label for="f2" class="active">Company Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="seller_email_id" class="form-control" required="" value="software@gmail.com" disabled>
                                        <label for="seller_email_id" class="active">Email Id</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="md-form md-outline input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">+91</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Contact Number" aria-label="Username" aria-describedby="basic-addon1" value="7896412352" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form md-outline">
                                        <textarea type="text" id="form10" class="md-textarea form-control" rows="2" disabled></textarea>
                                        <label for="form10">Address</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="form-country" class="form-control" value="India" disabled>
                                        <label for="form-country" class="active">Select Country</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="form-state" class="form-control" value="Chhattisgarh" disabled>
                                        <label for="form-state" class="active">Select State</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="form-city" class="form-control" value="Bhilai" disabled>
                                        <label for="form-city" class="active">Select City</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="md-form md-outline">
                                        <input type="text" id="emp_postcode" class="form-control" required="" value="490006" disabled>
                                        <label for="emp_postcode" class="active">Postcode</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-sm btn-outline-success waves-effect">Save</button>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
            <!-- Edit user modal -->
            <div class="modal fade" id="edit_seller_info_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
                    <!-- Content -->
                    <div class="modal-content">
                        <!-- Header -->
                        <div class="modal-header mdb-color">
                            <p class="heading lead font-weight-bold">Edit Seller Info</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>

                        <!-- Body -->
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form md-outline">
                                        <input type="text" id="seller_name" class="form-control" required="" value="Ritin Sinha">
                                        <label for="seller_name" class="active">Seller Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="company_name" class="form-control" required="" value="Software Tech">
                                        <label for="f2" class="active">Company Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="seller_email_id" class="form-control" required="" value="software@gmail.com">
                                        <label for="seller_email_id" class="active">Email Id</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="md-form md-outline input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">+91</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Contact Number" aria-label="Username" aria-describedby="basic-addon1" value="7896412352">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form md-outline">
                                        <textarea type="text" id="form10" class="md-textarea form-control" rows="2"></textarea>
                                        <label for="form10">Address</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="form-country" class="form-control" value="India">
                                        <label for="form-country" class="active">Select Country</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="form-state" class="form-control" value="Chhattisgarh">
                                        <label for="form-state" class="active">Select State</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class=" md-form md-outline">
                                        <input type="text" id="form-city" class="form-control" value="Bhilai">
                                        <label for="form-city" class="active">Select City</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="md-form md-outline">
                                        <input type="text" id="emp_postcode" class="form-control" required="" value="490006" disabled>
                                        <label for="emp_postcode" class="active">Postcode</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-sm btn-outline-success waves-effect">Save</button>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
        </div>
    </main>
    <!-- Main layout -->
</body>