<body class="login-page">
  <style>.md-form.md-outline label.active{
    color:#ffd86f;
    background: none;
  }
  .login-page .intro-2{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
  }
  </style>
    <!-- Main Navigation -->
    <header>
        <!-- Sidebar navigation -->
        <!-- <app-header></app-header> -->
        <!-- Navbar -->

        <!-- /.Navbar -->
    </header>
    <!-- Main Navigation -->
    <!-- Main layout -->
    <main >
        <div class="container-fluid px-4 mb-2 mask rgba-stylish-strong h-100 d-flex justify-content-center align-items-center  view intro-2">
            <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-1" style="background-color: rgba(62, 69, 81, 0.7);">
                <div class="col-md-12 " textalign="center">
                <div class="" role="document ">
                    <!-- Content -->
                    <div class="card-body ng-untouched ng-pristine ng-invalid">
                        <!-- Header -->
                        <div class="form-header peach-gradient" style="text-align: center;">
                            <p class="heading lead font-weight-bold" id="modaltextheader">Reset Your Password</p>
                        </div>

                    <div class="card-body" [formGroup]="ResetPasswordForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form  ">
                                    <input type="password" formControlName="oldpassword" id="reset_pwd" class="form-control" required="" [ngClass]="{ 'is-invalid': (submitted && ResetPasswordForm.controls['oldpassword'].invalid ) || (ResetPasswordForm.controls['password'].invalid && ResetPasswordForm.controls['oldpassword'].touched)}">
                                    <label  for="reset_pwd" class="active">Old Password</label>
                                    <div *ngIf=" (submitted && ResetPasswordForm.controls['oldpassword'].invalid && ResetPasswordForm.controls['oldpassword'].errors.required) || (ResetPasswordForm.controls['oldpassword'].invalid && ResetPasswordForm.controls['oldpassword'].touched && ResetPasswordForm.controls['oldpassword'].errors.required)" class="invalid-feedback">Old Password is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form ">
                                    <input type="password" formControlName="password" id="reset_pwd" class="form-control" required="" [ngClass]="{ 'is-invalid': (submitted && ResetPasswordForm.controls['password'].invalid ) || (ResetPasswordForm.controls['password'].invalid && ResetPasswordForm.controls['password'].touched)}">
                                    <label for="reset_pwd" class="active">New Password</label>
                                    <div *ngIf=" (submitted && ResetPasswordForm.controls['password'].invalid && ResetPasswordForm.controls['password'].errors.required) || (ResetPasswordForm.controls['password'].invalid && ResetPasswordForm.controls['password'].touched && ResetPasswordForm.controls['password'].errors.required)" class="invalid-feedback">Password is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form ">
                                    <input type="password" id="confirm_reset_pwd" formControlName="cpassword" class="form-control" required="" [ngClass]="{ 'is-invalid': (submitted && ResetPasswordForm.controls['cpassword'].invalid ) || (ResetPasswordForm.controls['cpassword'].invalid && ResetPasswordForm.controls['cpassword'].touched)}">
                                    <label for="confirm_reset_pwd" class="active">Confirm New Password</label>
                                    <div *ngIf=" (submitted && ResetPasswordForm.controls['cpassword'].invalid && ResetPasswordForm.controls['cpassword'].errors.required) || (ResetPasswordForm.controls['cpassword'].invalid && ResetPasswordForm.controls['cpassword'].touched && ResetPasswordForm.controls['cpassword'].errors.required)" class="invalid-feedback">Password is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"  (click)="reset()" class="btn btn-sm btn-danger" data-dismiss="modal">Clear</button>
                        <button type="button" class="btn btn-sm btn-outline-success waves-effect" (click)="resetpassword()">Reset Password</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

    </main>
    <!-- Main layout -->
</body>


