<div class="row">
	<div class="col-lg-12 col-md-12 px-2">
		<div class="row py-2 px-2" [formGroup]="SearchProductType">
			<div class="col-md-3 px-4">
				<div class=" md-form md-outline">
					<input type="text" id="search-prodtype" class="form-control" formControlName="ProdTypeName" name="ProdTypeName">
					<label for="search-prodtype" class="">Product Type</label>
				</div>
			</div>
			<div class="col-md-2 px-2 float-right">
				<button class="btn btn-white heavy-rain-gradient btn-sm  waves-light waves-effect float-right my-0" (click)="searchProductType()"><i class="fa fa-search mr-2" aria-hidden="true"></i>Search</button>
			</div>
			<div class="col-md-3 px-2 float-right">
				<button class="btn btn-white heavy-rain-gradient btn-sm waves-light waves-effect float-right my-0" (click)="AddProdType()" type="button"> Add New Product Type</button>
				<button style="display: none;" #modalbutton type="button" data-toggle="modal" data-target="#add_product_type"></button>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 px-0">
		<div class="container-fluid my-3">
			<section>
				<div class="card">
					<div class="table-responsive card-body">
						<table id="dt-material-checkbox" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th></th>
									<th>S.No.</th>
									<th>Product Type Code</th>
									<th>Product Type Name</th>
									<th>Status </th>
									<th>Action </th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let productType of dataa; let i=index">
									<td></td>
									<td>{{i+1}}</td>
									<td>{{productType.productType_code}}</td>
									<td>{{productType.productType_name}}</td>
									<td>{{productType.Status}}</td>
									<td>
										<a class="black-text" mdbtooltip="View" (click)="productTypeView(productType.productTypeId)" placement="top"><i class="fa fa-eye" aria-hidden="true"></i></a>
										<a class="teal-text" mdbtooltip="Edit" placement="top" (click)="productTypeEdit(productType.productTypeId)"><i class="fa-pencil-alt px-1 fas"></i></a>
										<a class="red-text" mdbtooltip="Remove" placement="top" (click)="productTypeDelete(productType.productTypeId)"><i class="fa-times px-1 fas"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>
			<!-- Add New property sale modal -->
			<div class="modal fade" id="add_product_type" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
				aria-hidden="true">
				<div class="modal-dialog modal-lg modal-notify modal-info" role="document">
					<!-- Content -->
					<div class="modal-content">
						<!-- Header -->
						<div class="modal-header mdb-color">
							<p class="heading lead font-weight-bold" id="heading" >{{ModalHeading}}</p>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true" class="white-text">&times;</span>
							</button>
						</div>
						<!-- Body -->
						<form name="productTypeForm">
							<div class="modal-body">
								<div class="form-row" [formGroup]="ProductType" >
									<div class="col-lg-4 col-md-12 px-1">
										<div class=" md-form md-outline">
											<input type="hidden" id="prod-type" class="form-control" formControlName="productTypeId" name="productTypeId">
											<input type="text" id="prod-type" class="form-control" formControlName="ProdType" name="ProdType" [readonly]="Access"
											[ngClass]="{ 'is-invalid': (submitted && ProductType.controls['ProdType'].errors && ProductType.controls['ProdType'].invalid ) || (ProductType.controls['ProdType'].errors && ProductType.controls['ProdType'].invalid && ProductType.controls['ProdType'].touched)}">
											<label for="prod-type" class="{{activefield}}">Product Type Name</label>
											<div *ngIf=" (submitted && ProductType.controls['ProdType'].errors  && ProductType.controls['ProdType'].invalid) || (ProductType.controls['ProdType'].errors && ProductType.controls['ProdType'].invalid && ProductType.controls['ProdType'].touched)"
												class="invalid-feedback">Please Enter Product Type</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-12 px-1">
										<div class=" md-form md-outline">
											<input type="text" id="prod-code" class="form-control" formControlName="ProdCode" name="ProdCode" [readonly]="Access"
											[ngClass]="{ 'is-invalid': (submitted && ProductType.controls['ProdCode'].invalid ) || (ProductType.controls['ProdCode'].invalid && ProductType.controls['ProdCode'].touched)}">
											<label for="prod-code" class="{{activefield}}">Product Type Code</label>
											<div *ngIf=" (submitted && ProductType.controls['ProdCode'].invalid) || (ProductType.controls['ProdCode'].invalid && ProductType.controls['ProdCode'].touched)"
												class="invalid-feedback">Please Enter Product Code</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-12 pl-3 mt-1">
										<button type="button" (click)="addprod()" class="btn btn-secondary btn-sm btn-block blue-gradient waves-light waves-effect"><i class="fa fa-plus mr-2" aria-hidden="true"></i> More Detail</button>
									</div>
								</div>
								<div class="form-row" [formGroup]="productTypeFiled">
									<div class="col-lg-12 col-md-12 px-2" formArrayName="productArrayForm"  >
										<div class="row" *ngFor="let quantity of productArray.controls; let i=index" [formGroupName]="i">
											
											<div class="col-lg-4 col-md-12 px-2">
												<div class=" md-form md-outline">
													<input type="hidden" id="productFielID_{{i}}" class="form-control" formControlName="productFielID" name="productFielID" [readonly]="Access">
													<input type="text" id="fieldname_{{i}}" class="form-control" formControlName="FieldName" name="FieldName" [readonly]="Access">
													<label for="fieldname_{{i}}" class="{{activefield}}">Field Name</label>
												</div>
											</div>
											<div class="col-lg-4 col-md-12 px-2">
												<div class=" md-form md-outline">
													<input type="text" id="FieldLabel_{{i}}" class="form-control" formControlName="FieldLabel" name="FieldLabel" [readonly]="Access">
													<label for="FieldLabel_{{i}}" class="{{activefield}}">Field Label Name</label>
												</div>
											</div>
											<div class="col-lg-4 col-md-12 px-2">
												<div class=" md-form md-outline">
													<input type="text" id="fieldinput_{{i}}" class="form-control" formControlName="FInputName" name="FInputName" [readonly]="Access">
													<label for="fieldinput_{{i}}" class="{{activefield}}">Field Input Name</label>
												</div>
											</div>
											<div class="col-lg-4 col-md-12 px-2">
												<div class=" md-form md-outline">
													<select class="form-control field-ht colorful-select" id="datatype_{{i}}" formControlName="PDataType" name="PDataType" (change)="dataTypeChange($event)">
														<option value=" " selected="true">Select Data Type</option>
														<option value="text">text</option>
														<option value="date">date</option>
														<option value="number">number</option>
														<option value="select">select</option>
													</select>
													<!-- <input type="text"  class="form-control" id="datatype_{{i}}" name="PDataType" formControlName="PDataType" [readonly]="Access"> -->
													<label for="datatype_{{i}}" class="active">Data Type</label>
												</div>
											</div>
											<div class="col-lg-4 col-md-12 px-2" id="ProdDataDiv_{{i}}">
												<div class=" md-form md-outline">
													<select class="form-control field-ht colorful-select" formControlName="ProdData" name="ProdData" [readonly]="Access" id="ProdData_{{i}}">
														<option value=" " selected="true">Select Data</option>
														<option *ngFor="let lookupList of lookupDataList" value={{lookupList.LookupTypeId}}>
															{{lookupList.LookupName}}
														</option>
													</select>
													<!-- <input type="text"  class="form-control" id="prod-type" name="ProdData" formControlName="ProdData" [readonly]="Access"> -->
													<label for="prod-id" class="active">Data</label>
												</div>
											</div>
											<div class="col-lg-4 col-md-12 px-2">
												<div class=" md-form md-outline">
													<select class="form-control field-ht colorful-select" formControlName="ProdStore" name="ProdStore" [readonly]="Access" id="ProdStore_{{i}}">
														<option value=" " selected="true">Select storeIn</option>
														<option value="custom1">custom1</option>
														<option value="custom2">custom2</option>
														<option value="custom3">custom3</option>
														<option value="custom4">custom4</option>
														<option value="custom5">custom5</option>
														<option value="custom6">custom6</option>
														<option value="custom7">custom7</option>
													</select>
													<!-- <input type="text"  class="form-control" id="prod-store" name="ProdStore" formControlName="ProdStore" [readonly]="Access"> -->
													<label for="prod-id" class="active">Store In</label>
												</div>
											</div>
											<div class="col-lg-4 col-md-12 px-2">
												<div class=" md-form md-outline">
													<input type="text" class="form-control" name="ProdOrder" formControlName="ProdOrder" [readonly]="Access" id="ProdOrder_{{i}}">
													<label for="prod-id" class="{{activefield}}">Ordered By</label>
												</div>
											</div>
											<div class="col-lg-4 col-md-12 px-2">
												<div class=" md-form md-outline">
													<input class="form-check-input filled-in" type="checkbox" value="" id="prodstatus_{{i}}" formControlName="prodstatus" [readonly]="Access"
														name="prodstatus">
													<label class="form-check-label" id="status_{{i}}" [readonly]="Access" for="prodstatus_{{i}}">Enabled?</label>
												</div>
											</div>
										</div>
									</div>	
								</div>
							</div>
						</form>
						<!-- Footer -->
						<div class="modal-footer mx-3">
							<a type="button" class="btn btn-sm btn-danger" #closebutton data-dismiss="modal">Cancel</a>
							<!-- <span *ngIf="save_btn"> -->
								<button type="button" *ngIf="productViewTab" [disabled]="isButtonDisabled" class="btn btn-sm btn-outline-success waves-effect" (click)="saveProductType()">Save</button>
							<!-- </span> -->
						</div>
					</div>
					<!-- Content -->
				</div>
			</div>
		</div>
	</div>
</div> 